body {
    position: relative;
    left: 0;
    overflow-x: hidden;
}
#slide_menu{
    position: fixed;
    top: 0;
    left: -240px;
    width: 240px;
    height: 100%;
    background: red;
}
.part_line{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-bottom: solid 3px #668ad8;
    border-left: solid 3px #668ad8;
    color: #668ad8;
    transition: .4s;
    }

.part_line:hover {
    padding-left: 0.7em;
    padding-right: 0.3em;
}
