{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forgotpassword.css' %}">
{% endblock header %}


{% block contents %}
    <div class="row main">
    <div class="card card-container">
    <!--digifarm kun image-->
    <img class="image-circle" src="image/digi.jpg" width="150" length="150">
    <hr>

    <!-- mainform -->
        <form class="form-horizontal" method="post" action="#">

          <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">メールアドレスを入力してください</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
              </div>
            </div>
          </div>

          <div class="form-group ">
            <button type="button" class="btn btn-primary btn-lg btn-block login-button">Reset password</button>
          </div>
          <div class="login-register">
                  <h5><a href="login.html" target="_blank">ログインページはこちら</a></h5>
               </div>
        </form>
      </div>
    </div>
{% endblock contents %}