{% extends "base.html" %}

{% block header %}

{% endblock header %}



{% block contents %}
      <div class="jumbotron"
      style="color:#FFF; background:url('/static/photo/header1.jpg'); background-size:1150px 420px;">
        <h1 class="text-center">課題提出</h1>
      </div>

      <ol class="breadcrumb">
          <li><a href="#">ホーム</a></li>
          <li class="active">課題提出</li>
      </ol>

      <div class="row">

          <div class="col-xs-12 col-sm-3">
              <h1 class="page-header text-center" style="font-size:130%;">提出はこちらから</h1>
              <ul style="font-size:140%;">
                <li class="active"><a href="#"> C</a></li>
                <li ><a href="#" > Java</a></li>
                <li><a href="#"> Visual<span style="margin-left:0.5em"></span>Basic</a></li>
                <li><a href="#"> Network</a></li>
              </ul>
          </div>

        <div class="col-xs-12 col-sm-9">
          <h1 class="page-header">出題中の課題</h1>
            <table class="table table-striped">
              <thead>
                <tr><th>科目</th><th>課題名</th><th>期限</th><th>状況</th></tr>
              </thead>
              <tbody>
                <tr><td>C</td><td>ckadai03-1.c</td><td>2017/11/21</td><td>済</td></tr>
                <tr><td>C</td><td>ckadai03-2.c</td><td>2017/11/21</td><td>済</td></tr>
                <tr><td>Java</td><td>Javakadai011.java</td><td>2017/11/25</td><td>済</td></tr>
                <tr><td>Java</td><td>Diary.java</td><td>2017/11/25</td><td>未</td></tr>
              </tbody>
            </table>
        </div>

      </div>
{% endblock contents %}