{% extends "base.html" %}
{% load static %}

{% block header %}
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock header %}

{% block contents %}
  <div class="card card-container">
    <!--top-->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#Login" data-toggle="tab">ログイン</a></li>
      <li><a href="registar.html" data-toggle="tab">新規登録</a></li>
    </ul>
    <!--digifarm kun image-->
    <img class="image-circle" src="{% static 'image/digi.jpg' %}" width="150" length="150">

    <hr>

    <!-- Login Form -->
    <div class="tab-content">
      <div class="tab-pane active" id="Login">
        <form role="form" class="form-horizontal">

          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="email" id="email"  placeholder="Mail address" required>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="password" id="password"  placeholder="password" required>
              </div>
            </div>
          </div>

          <div id="remember" class="chebox">
            <label>
              <input type="checkbox" value="remember-me"> メールアドレスを記憶する
            </label>
          </div>

          <div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">ログイン</button>
          </div>

          <a href="forgotpassword.html" class="forgot-password">
            <h5>パスワードを忘れた方はこちら</h5>
          </a>

        </form>
      </div>
    </div>
  </div>
{% endblock contents %}
